extends layout


block content
  .container
     br
     h1.text-lead Alumni Details Of Kurushetra University
     ul.list-group
       each alumni in alumnus
         if(alumni.slct=="alumni")
           li.list-group-item.bg-primary
             h4.text-white Name: #{alumni.name}
           li.list-group-item.bg-dark
             h4.text-white EmailId: #{alumni.email}
           li.list-group-item.bg-primary 
             h4.text-white Degree:#{alumni.degree}
           li.list-group-item.bg-dark
             h4.text-white Skills:#{alumni.skills}   
           li.list-group-item.bg-primary
             h4.text-white Passing Year: #{alumni.passdata}   
           li.list-group-item.bg-dark
             h4.text-white Collage: #{alumni.collage}
           li.list-group-item
             a.btn.btn-success(href='https://api.whatsapp.com/send?phone=91'+alumni.number target="blank") Chat With Whatsapp
             span
             a.btn.btn-primary(href="#")  Follow       
         hr
         br      